@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #e0874d;
  --primary-color-light: #fefdfc;
  --primary-color-dark: #3d1d1a;
  --text-dark: #313131;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

/*
white #fefdfc
dirtywhite #d7b59d
darkbrown #3d1d1a
lightdarkbrown #d05f3e
midbrown #eda458
lightbrown #eda458
black #000000
*/

/*Resets and Uties*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
 background: linear-gradient(to bottom, #e0874d, #f6c2a8);
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo a span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Navbar*/
nav {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.nav__header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo img {
  /* height: auto;
  width: 100%;
  max-height: 90px;
  max-width: 100%; */
  height: auto; 
  max-height: 90px; 
  width: 100%; 
  max-width: 150px; 
  object-fit: contain;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
  /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); */
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav__links a:hover {
  color: var(--text-dark);
}
/*End Navbar*/

/*Header*/
.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));

  animation: spin 30s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__btn {
  text-align: center;
}
/*End Header*/

/*Best Sellers*/
.best-sellers__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
}

.best-sellers__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.best-sellers__card {
  position: relative;
  padding: 1rem;
  text-align: center;
  /* border-radius: 2rem; */
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.best-sellers__card::before,
.best-sellers__card::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #e0874d, #f6c2a8, #ffebc8);
  transform: translateX(-50%);
  transform-origin: top;
  scale: 0;
  transition: scale 0.3s ease;
}

.best-sellers__card::before {
  top: 0;
}

.best-sellers__card::after {
  bottom: 0;
}

.best-sellers__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.best-sellers__card:hover::before,
.best-sellers__card:hover::after {
  scale: 1;
}

.best-sellers__card img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}

.best-sellers__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.best-sellers__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.best-sellers__ratings {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}

.best-sellers__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.best-sellers__footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.best-sellers__footer .btn {
  margin-bottom: 1rem;
}
/*End Best Sellers*/

/*Promo Banner*/
.banner__container {
  position: relative;
  height: 400px;
  background-image: url("../assets/images/banner_img.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
}

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  max-width: 600px;
  padding: 1rem;
}

.banner__header {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.banner__description {
  margin-bottom: 1.5rem;
  font-size: 1.2em;
}

.banner__btn {
  text-align: center;
}

.promo-banner__container {
  position: relative;
  height: 400px;
  background-image: url("../assets/images/banner_img.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
}

.promo-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-banner__content {
  max-width: 600px;
  padding: 1rem;
}

.promo-banner__header {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.promo-banner__description {
  margin-bottom: 1.5rem;
  font-size: 1.2em;
}

.promo-banner__btn {
  text-align: center;
}

/*End Promo Banner*/

/*Chefs*/
.section-head h2 {
  margin-top: 3rem;
}

.chef-panel-inner {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

.chef-panel-item {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.chef-panel-item:last-child {
  margin-bottom: 6rem;
}

.chef-panel-item .img {
  position: relative;
  width: 100%;
  height: 440px;
  max-width: 350px;
  background-image: url(../assets/images/pizza-pattern3.jpg);
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

/* .chef-panel-item .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; 
} */

.chef-panel-item .img * {
  position: relative;
  z-index: 2;
}

.chef-panel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chef-panel-item .img .info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100px;
  /* background: linear-gradient(to bottom, #e0874d, #f6c2a8); */
  background: rgba(224, 135, 77, 0.8);
  color: var(--text-dark);
  color: var(--primary-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: bottom 0.3s ease;
}

.chef-panel-item:hover .info {
  bottom: 0;
}
/*End Chefs*/

/*Featured*/
.feature__container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 200px;
  position: relative;
  /* padding: 0 1rem; */
}

.feature__container {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 170px;
  position: relative;
  /* background: #f8ebdd; */
  /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1); */
  /* padding: 2rem;  */
  width: 100%;
  max-width: 100%;
}

.feature__card {
  position: relative;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 1rem; */
  /* border-radius: 8px; */
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.feature__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.feature__card:nth-child(1) {
  background-image: url("../assets/images/featured2.jpg");
}

.feature__card:nth-child(2) {
  background-image: url("../assets/images/featured1.jpg");
}

.feature__card:nth-child(3) {
  background-image: url("../assets/images/featured3.jpg");
}

.feature__card p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
  position: relative;
}

.feature__card h4 {
  font-size: 2rem;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.feature__card:hover {
  transform: translateY(-5px);
}
/*End Featured*/


/*Customer Reviews*/
.reviews__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.reviews__slider {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.reviews__image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}
.reviews__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.reviews__text {
  text-align: center;
  padding: 0 160px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-light);
}
.reviews__quote-icon {
  font-size: 50px;
  color: var(--primary-color);
}
.reviews__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__name {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-dark);
}
.reviews__job {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-light);
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color); 
  font-weight: bold;
  width: 60px; 
  height: 60px; 
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 34px; 
  font-weight: bold; 
}

.swiper-button-next {
  right: 10px; 
}

.swiper-button-prev {
  left: 10px; 
}
/*End Customer Reviews*/

/*Footer*/
footer {
  background-color: var(--text-dark);
  color: var(--primary-color-light);
  padding: 40px 0;
  position: relative;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%; 
}

.footer__col-3 {
  flex: 1;
  min-width: 240px;
  margin-bottom: 20px;
}

.footer__col-6 {
  flex: 2;
  text-align: center;
}

.footer__clearfix {
  clear: both;
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
}

.footer__logo span {
color: var(--primary-color);
}

/* Description Styles */
.footer__description {
  font-size: 14px;
  color: var(--primary-color-light);
  margin-top: 10px;
  line-height: 1.5;
}

.footer__social {
  margin-top: 15px;
}

.footer__social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer__social a:hover {
  background: linear-gradient(to bottom, #e0874d, #f6c2a8);
}

.footer__col-3 h5 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--primary-color-light);
}

.footer__col-3 p {
  font-size: 14px;
  color: var(--primary-color-light);
  line-height: 24px;
}

.footer__link {
  display: block;
  margin-bottom: 5px;
  color: var(--primary-color-light);
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
  transition: color 0.3s ease, letter-spacing 0.3s ease;
}

.footer__link:hover {
  color: var(--white);
  letter-spacing: 1px;
}

.fields {
  width: 100%; 
  position: relative;
  margin-top: 15px;
}

.input {
  width: calc(70% - 10px); 
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 10px;
}

.signbtn {
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signbtn:hover {
  background: linear-gradient(to bottom, #e0874d, #f6c2a8);
}

.footer__container-fluid {
  background-color: var(--text-dark);
  /* border: 2px solid red; */
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.footer__container-fluid .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
}

.footer__col-6 p {
  font-size: 12px;
  color: var(--primary-color-light);
}

.footer__col-6 a {
  color: var(--primary-color-light);
  text-decoration: none;
}

.footer__col-6 a:hover {
  color: var(--primary-color);
}

/*End Footer*/